<!-- Admin -->
<div class="jumbotron">
    <legend>PANEL ADMINISTARTORA</legend>
        <p>
            Witamy w panelu administratora.
            </br>
            Za jego pomocą możesz wprowadzić zmiany we wszystkich kontach użytkowników tej strony.
        </p>
    </div>
</div>