<!-- Guest -->
<div class="jumbotron">
    <h1>Witamy!</h1>
        <p>
            <b>Indywidualnym Kalendarzu Biegacza</b> to strona dzięki której zaplanujesz cały swój sezon biegowy.
            </br>
            W jednym miejscu możesz zapisać wszystkie najpotrzebniejsze informacje i mieć do nich szybki dostęp.
            </br>
            Zapraszamy!
        </p>
        <hr>
        </br>
        <div style="text-align: right;">
            <a href="/dostep/login" class="btn btn-success btn-lg">Logowanie</a>
        </div>
        </br>
</div>


