<!DOCTYPE html>
<html>
  <head>
		<title>Indywidualny Kalendarz Biegacza</title>
    	<%= stylesheet_link_tag('application', :media => 'all' ) %>
    	<%= javascript_include_tag('application') %>
		<META name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <!-- menu -->
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><b> IKB</b></a>
    </div>

    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="disabled"><a href="#">Biegi<span class="sr-only">(current)</span></a></li>
        <li class="disabled"><a href="#">Uzytkownic</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/dostep/login">Zaloguj</a></li>
      </ul>
    </div>
  </div>
</nav>

  	<!--KLASA GÓWNA-->
  	<div class="container">
      <% if !flash[:notice].blank? %>
        <div class="alert alert-dismissible alert-success" style="text-align: center;">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% end %>
    	<%= yield %>
    </div>

    <!--STOPKA-->
    <div id="footer">
      <div class="container">
          <p class="text-muted">
            Mateusz Misiak | <b>MEDM</b> 2017 &copy;</a>
          </p>
      </div>
    </div>

  </body>
</html>
